<h2>Peliculas del Actor/iz</h2>
<div class="col-md-12">
    <strong><span>{{actorDetalle.apellido}} </span></strong>
    <strong><span>{{actorDetalle.nombre}} </span></strong> 
    <br>
    <table class="table">
     <thead>
       <tr>
         <th scope="col">Titulo</th>
         <th scope="col">Imagen</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let itempelicula of lasPeliculas">
         <td>{{itempelicula.nombre}}</td>
         <td><img width="80 px" [src]="itempelicula.fotoDeLaPelicula"></td>
       </tr>
     </tbody>
   </table>
    <button class="btn btn-secondary" (click)="Volver(false)" role="button">Limpiar</button>
 </div>